@import '../Vuekit/_Vuekit.styl'
.VKAlert
  font-weight 200
  padding:20px
  &.info
    color: $info
    background-color : lighten($info, 90%)
  &.danger
    color: $danger
    background-color : lighten($danger, 90%)
  &.warning
    color: $warning
    background-color : lighten($warning, 90%)
  &.success
    color: $success
    background-color : lighten($success, 90%)
